#about_slide{
    overflow: hidden;
    animation: aboutslide 2s 0.5s forwards ;
      width: 0;
      height: 0;
  }
  
  @keyframes aboutslide {
    from {
        width: 0;
        height: 0;
    }
  
    to {
        width: 100%;
        height: 100%;
  
     
    }
  }