#problem_slide{
    overflow: hidden;
    animation: problemslide 2s .5s forwards ;
      width: 0;
      height: 0;
  }
  
  @keyframes problemslide {
    from {
        width: 0;
        height: 0;
    }
  
    to {
        width: 100%;
        height: 100%;
  
     
    }
  }